[[Subject .Subject "Welcome to GrafInsight"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>Hi [[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Welcome! Ready to start building some beautiful metric and analytic dashboards?
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							If you are new to GrafInsight please visit the <a href="https://github.com/openinsight-project/grafinsight">GrafInsight Repo</a>.
						</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Thank you for joining our community.
						<br />
						<p>The GrafInsight Team</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

